# Dependências principais
streamlit
numpy
pandas

# Bibliotecas de visualização
matplotlib
seaborn
altair
plotly
bokeh==2.4.3       # OBRIGATÓRIO: Única versão suportada pelo Streamlit
pydeck
graphviz

# Bibliotecas para análise de dados
scikit-learn

